<md-card style="max-width: 600px" layout-fill>
    <md-card-title layout="column" layout-align="center center">
        <md-card-title-text layout="column" layout-align="center center">
            <span class="md-headline">Проверьте Вашу почту</span>
            <span class="md-subhead">На Вашу почту высланы инструкции с дальнейшими действиями</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" ng-href="/">OK</md-button>
        <md-button class="md-primary md-raised" ng-href="help">Нужна помощь</md-button>
    </md-card-actions>
</md-card>