<md-card style="max-width: 600px" layout-fill>
    <md-card-title layout="column" layout-align="center center">
        <md-card-title-text layout="column" layout-align="center center">
            <span class="md-headline">Нужна помощь?</span>
            <span class="md-subhead">Если что-то не получается или есть затруднения
                <br/>Напишите нам
                <br/>Будем рады ответить на все вопросы.</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" ng-href="/">OK</md-button>
    </md-card-actions>
</md-card>